<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Denver BIPOC Map</title>
  </head>
  <body>
    <h1>Denver BIPOC Map</h1>
    <h3>
      This map displays a list of nearby independent BIPOC-owned businesses.
      <a href="./about.html">Why?</a>
    </h3>
    <h3>
      All data and businesses are currently only accessible through our API; a list of
      endpoints can be found <a href="./api.html">here</a>.
    </h3>
  </body>
</html>
